* {
    box-sizing: border-box;
}

body {
    font: 700 0.875rem/1.5rem 'Fira Sans', sans-serif;
    max-width: 1000px;
    margin: auto;
    background-color: #e5e5e5;
}

h1 {
    font: 900 2.8rem/2.8rem 'Frank Ruhl Libre', serif;
}

h3 {
    font: 700 1rem/1.25rem 'Frank Ruhl Libre', serif;
}

.button {
    font-weight: 900;
    background-color: white;
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
    font-size: 10px;
    line-height: .75rem;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.1);
    font-family: 'Fira Sans';
}
.text--white {
    color: white;
}


/*--------------main--------------*/
main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.content {
    grid-column: span 6;
    margin: 0;
}

/*-----------main-top-----------*/
.main-top {
    display: flex;
    background-color: #a9a19e;
}

.main-top section {
    width: 50%;
    padding: 5rem;
}

.main-top p {
    padding-top: 2rem;
}

/*-----------main-cards-----------*/
.main-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: linear-gradient(#a9a19e 50%, #fab131 50%);
}

.main-cards .card {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.main-cards .card figure {
    width: 90%;
    height: 9.3rem;
    margin-top: -1rem;
}

.main-cards .card p {
    padding: 0 2rem 1.5rem;
    font-size: .7rem;
    text-align: center;
    font: 700 11px/18px 'Fira Sans', sans-serif;
}

.main-cards .card:nth-child(1) figure {
    background-color: #c7ddea;
    background-image: url(bilder/child.png);
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: 40%;
}

.main-cards .card:nth-child(2) figure {
    background-color: #fab131;
    background-image: url(bilder/adult.png);
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: 40%;
}

.main-cards .card:nth-child(3) figure {
    background-color: #f17949;
    background-image: url(bilder/old.png);
    background-position: center 1rem;
    background-repeat: no-repeat;
    background-size: 60%;
}

/*-----------main-about------------*/
.main-about {
    background-color: #fab131;
    padding: 2rem 12rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*----------text-opacity------------*/

.opacity-text-60 {
    opacity: 60%;
}

.opacity-text-55 {
    opacity: 55%;
}